# Dependencies

node_modules

# Environment Variables

.env
.env.test

# Turborepo

.turbo

# React Email

.react-email

# Remix Run

.cache

# React Router

.react-router/

# Vite

vite.config.ts.timestamp*

# Build

build
dist
tsconfig.tsbuildinfo


# Debugging

yarn-debug.log*
yarn-error.log*
bun-debug.log*
bun-error.log*


# Miscelleanous

.DS_Store

# Other

schema.prisma
