# Dependencies

node_modules

# Environment Variables

.env
.env.test

# Turborepo

.turbo

# React Email

.react-email

# Remix Run

.cache

# Build

build
dist
tsconfig.tsbuildinfo


# Yarn

yarn.lock
yarn-debug.log*
yarn-error.log*


# Miscelleanous

.DS_Store
