.radioInput:checked ~ .radioBackground {
  background-color: var(--color-white);
  border-color: var(--color-primary);
}

.radioInput:checked ~ .radioBackground > span {
  background-color: var(--color-primary);
}

.radioInput:hover ~ .radioBackground,
.radioInput:focus ~ .radioBackground {
  border-color: var(--color-primary);
}
