/* Elements */

button,
input,
textarea {
  outline: none;
}

select {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}

/* Classes */

.dropdown-item :is(a, button):only-child {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0.75rem 0.5rem;
  width: 100%;
}

.dropdown-item :is(a, button):only-child:hover,
.dropdown-item :is(a, button):only-child:focus-within {
  background-color: theme('colors.gray.100');
}

.dropdown-item :is(a, button):only-child > svg {
  height: 1.125rem;
  width: 1.125rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form[data-gap='2rem'] {
  gap: 2rem;
}

.link {
  color: theme('colors.primary');
  text-decoration: underline;
}

.scrollbar::-webkit-scrollbar {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.300');
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: theme('colors.gray.500');
}

.scrollbar::-webkit-scrollbar-track {
  background-color: theme('colors.gray.100');
  border-radius: 0.5rem;
  display: block;
}
