# Required to run the Admin Dashboard in development...

ADMIN_DASHBOARD_URL=http://localhost:3001
API_URL=http://localhost:8080
DATABASE_URL=postgresql://colorstack:colorstack@localhost:5433/colorstack
ENVIRONMENT=development
JWT_SECRET=_
REDIS_URL=redis://localhost:6379
SESSION_SECRET=_

# Optional for development, but won't be able to run certain features...

# GOOGLE_CLIENT_ID=
# POSTMARK_API_TOKEN=
# SENTRY_DSN=
# SMTP_HOST=
# SMTP_PASSWORD=
# SMTP_USERNAME=