# Required to run the Admin Dashboard in development...

ADMIN_DASHBOARD_URL=http://localhost:3001
API_URL=http://localhost:8080
DATABASE_URL=postgresql://oyster:oyster@localhost:5433/oyster
ENVIRONMENT=development
JWT_SECRET=_
REDIS_URL=redis://localhost:6380
SESSION_SECRET=_
STUDENT_PROFILE_URL=http://localhost:3000

# Optional for development, but won't be able to run certain features...

# AIRTABLE_API_KEY=
# AIRTABLE_FAMILY_BASE_ID=
# AIRTABLE_MEMBERS_TABLE_ID=
# AIRTABLE_RESUME_BOOKS_BASE_ID=
# GITHUB_TOKEN=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_DRIVE_RESUME_BOOKS_FOLDER_ID=
# POSTMARK_API_TOKEN=
# SENTRY_DSN=
# SMTP_HOST=
# SMTP_PASSWORD=
# SMTP_USERNAME=
