$breakpoint-sm: 639px;
$breakpoint-md: 767px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1279px;

@mixin breakpoint($size) {
  @if $size == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin container($width) {
  @container (min-width: #{$width}) {
    @content;
  }
}
