name: Continuous Integration

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 15

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: oyster
          POSTGRES_PASSWORD: oyster
          POSTGRES_USER: oyster
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping" --health-interval 10s --health-timeout
          5s --health-retries 5

    env:
      DATABASE_URL: postgres://oyster:oyster@localhost:5432/oyster
      REDIS_URL: redis://localhost:6379

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Cache Turborepo setup
        uses: actions/cache@v4
        with:
          # When running turbo commands, we use `.turbo` as the cache directory.
          # See the root `package.json` for reference.
          path: .turbo

          key: ${{ runner.os }}-turbo-${{ github.sha }}

          # This is how GitHub Actions restores the cache. Because we only
          # the prefix of the key (and not the `github.sha`), this will allow
          # us to hit the cache on any CI runs on commit on any branch.
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run database migrations and generate types
        run: yarn db:migrate

      - name: Lint
        run:
          yarn lint --filter=[origin/$GITHUB_BASE_REF...origin/$GITHUB_HEAD_REF]

      - name: Check types
        run:
          yarn type-check
          --filter=[origin/$GITHUB_BASE_REF...origin/$GITHUB_HEAD_REF]

      - name: Build all packages and applications
        run:
          yarn build
          --filter=[origin/$GITHUB_BASE_REF...origin/$GITHUB_HEAD_REF]

      - name: Run tests
        run:
          yarn test --filter=[origin/$GITHUB_BASE_REF...origin/$GITHUB_HEAD_REF]
